/* Footer.css */
.site-footer{
  width: 100% ;
  max-width: none ;
  padding: 2rem 1rem;;
  box-sizing: border-box;
  background-color: #9acd32;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px; /* Adjust based on image heights */
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100% ;
  height: 100%;
  padding: 0 1rem;
}

.footer-image {
  border-radius: 15%;
  height: 150px;
  width: auto;
  min-width: 80px;
  display: block;
  object-fit: contain;
  max-width: 100%;
  visibility: visible;
  opacity: 1;
}

/* Glow Effect for All Images */
.footer-image-link:hover .footer-image {
  filter: drop-shadow(0 0 1.5rem #ffffe0);
  transform: scale(1.05);
}
.footer-image-link {
  display:block;
  transition: transform 0.3s ease;
}


.footer-image-group {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}


.footer-nav ul {
  color: #000;
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.footer-nav li {
  list-style: none;
}

.footer-nav a {
  text-decoration: none;
  color: #8B0000;
  font-weight: bold;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.footer-nav a:hover {
  color: #ffff66; /* Soft yellow hover */
  border-bottom: 2px solid #f5fffa;
}

/* Hide desktop nav on mobile */
@media (max-width: 768px) {
  .footer-image-group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .footer-nav ul{
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}