
.site-header {
  width: 100;
  max-width: none;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10rem;
  background-color: #9acd32;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 100px;
  position: relative;
  z-index: 1000;
}
.header-content {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header-image-group {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.header-image-link {
  display:block;
  transition: transform 0.3s ease;
}
.header-image {
  height: 250px;
  width: auto;
  border-radius: 15%;

}

.main-nav ul {
  color: #000;
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.main-nav li {
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: #8B0000;
  font-weight: bold;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.main-nav a:hover {
  color: #ffff66; /* Soft yellow hover */
  border-bottom: 2px solid #f5fffa;
}



/* Hamburger Button */
.hamburger-btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}


/* Mobile Nav */
.mobile-nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #9acd32;
  padding: 1rem;
  z-index: 999;
  display: block;
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hamburger-btn {
    display: block;
  }
}
/* Hide desktop nav on mobile */
@media (max-width: 768px) {
  .header-image-group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}
/* Hide desktop nav on mobile */
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}