::before,
::after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-image {
  width: 250px;

  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.header-image:hover {
  filter: drop-shadow(0 0 1.5em 0 0 2em #ffffe0);
}
.header-image:hover{
  filter: drop-shadow(0 0 2em #ffffe0);
  transform: scale(1.08);
}
body {
  background: linear-gradient(180deg, #556b2f 0%, #e9e5d6  100%);
 
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0em #191970);
  }
  50% {
    filter: drop-shadow(0 0 1.2em #191970);
  }
  100% {
    filter: drop-shadow(0 0 0em #191970);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
